.nav {
    background-color: grey;
    opacity: 0.8;
    z-index: 9;
    /* padding: 10px; */
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    box-shadow: 0px 3px 65px 0px rgba(0, 0, 0, .15);
}

.nav_top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.logo {
    float: left;
    width: 60%;
}

.logo img {
    padding: 10px;
    border-radius: 25px;
}

.nav_side {
    float: right;
    width: 40%;
    margin-top: 50px;
}

.nav_side a {
    text-decoration: none;
    margin-right: 20px;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;

}

.nav_side a:hover {
    color: orange;
    text-decoration: underline;
    transition: all 1s ease;
}



.calorie {
    display: flex;
    background-color: rgb(98, 211, 162);
    border: 2px solid black;
    border-radius: 5px;
}

.calorie .cal {
    display: flex;
    width: 70%;
    margin: 5px;
    padding: 10px;
}

.calorie .cal .cal1 {
    width: 25%;
    margin-left: 90px;
    height: 50px;
    font-size: 18px;
    margin: 50px;
    border-radius: 5px;
    border-color: blue;
    background-color: snow;
}

.calorie .cal .cal2 {
    margin: 50px;
    width: 25%;
    margin-left: 90px;
    font-size: 18px;
    height: 50px;
    border-radius: 5px;
    border-color: blue;
    background-color: snow;
}

.calorie .cal .cal3 {
    margin: 50px;
    width: 25%;
    margin-left: 90px;
    font-size: 18px;
    height: 50px;
    border-radius: 5px;
    border-color: blue;
    background-color: snow;
}

.calorie .cal .cal4 {
    margin: 50px;
    width: 25%;
    margin-left: 90px;
    font-size: 18px;
    height: 50px;
    border-radius: 5px;
    border-color: blue;
    background-color: snow;
}

/* .calorie .cal .cal5{
    width: 20%; 
    margin-left:50px;
    align-items: center; 
} */
.calorie .rightbox {
    width: 30%;
}

.calorie .rightbox .cal5 {
    height: 50px;
    margin: 50px;
    margin-left: 50px;
    margin-top: 65px;
    font-size: 18px;
    border-radius: 5px;
    border-color: blue;
    background-color: snow;
}
.fieldset {
    height: 90vh;
    background-color: paleturquoise;
    border-radius: 10px;
}
.fieldset .vegetarian h1{
    text-align: center;
}
.fieldset .vegetarian h2{
    text-align: center;
}
.fieldset .vegetarian .food_item1{
    text-align: center;
    display: flex;
    align-items: center;
}
.fieldset .vegetarian .food_item1 img{
    border-radius: 250px;
    width: 60px;
    align-items: center;
    margin-left: 750px;
    
}
.fieldset .vegetarian .food_item1 p{
   font-size: 20px;
}
.fieldset .vegetarian .food_item2{
    text-align: center;
    display: flex;
    align-items: center;
}
.fieldset .vegetarian .food_item2 img{
    border-radius: 250px;
    width: 60px;
    align-items: center;
    margin-left: 750px;
    
}
.fieldset .vegetarian .food_item2 p{
   font-size: 20px;
}
.fieldset .vegetarian .food_item3{
    text-align: center;
    display: flex;
    align-items: center;
}
.fieldset .vegetarian .food_item3 img{
    border-radius: 250px;
    width: 60px;
    align-items: center;
    margin-left: 750px;
    
}
.fieldset .vegetarian .food_item3 p{
   font-size: 20px;
}
.fieldset .vegetarian .food_item4{
    text-align: center;
    display: flex;
    align-items: center;
}
.fieldset .vegetarian .food_item4 img{
    border-radius: 250px;
    width: 60px;
    align-items: center;
    margin-left: 750px;
    
}
.fieldset .vegetarian .food_item1 p{
   font-size: 20px;
}
.fieldset .non_vegetarian h1{
    text-align: center;
}
.fieldset .non_vegetarian h2{
    text-align: center;
}
.fieldset .non_vegetarian .food_item1{
    text-align: center;
    display: flex;
    align-items: center;
}
.fieldset .non_vegetarian .food_item1 img{
    border-radius: 250px;
    width: 60px;
    align-items: center;
    margin-left: 750px;
    
}
.fieldset .non_vegetarian .food_item1 p{
   font-size: 20px;
}
.fieldset .non_vegetarian .food_item2{
    text-align: center;
    display: flex;
    align-items: center;
}
.fieldset .non_vegetarian .food_item2 img{
    border-radius: 250px;
    width: 60px;
    align-items: center;
    margin-left: 750px;
    
}
.fieldset .non_vegetarian .food_item2 p{
   font-size: 20px;
}
.fieldset .non_vegetarian .food_item3{
    text-align: center;
    display: flex;
    align-items: center;
}
.fieldset .non_vegetarian .food_item3 img{
    border-radius: 250px;
    width: 60px;
    align-items: center;
    margin-left: 750px;
    
}
.fieldset .non_vegetarian .food_item3 p{
   font-size: 20px;
}
.fieldset .non_vegetarian .food_item4{
    text-align: center;
    display: flex;
    align-items: center;
}
.fieldset .non_vegetarian .food_item4 img{
    border-radius: 250px;
    width: 60px;
    align-items: center;
    margin-left: 750px;
    
}
.fieldset .non_vegetarian .food_item4 p{
   font-size: 20px;
}