.nav{
    background-color: grey;
    z-index: 9;
    opacity: 0.8;
    /* padding: 10px; */
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    box-shadow: 0px 3px 65px 0px rgba(0,0,0,.15);
}
.nav_top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.logo{
    float: left;
    width: 70%;
}
.logo img{
    padding: 10px;
    border-radius: 25px;
}
.nav_side{
    float: right;
    width: 30%;
    margin-top: 35px;
}
.nav_side a{
 text-decoration: none;
 margin-right: 17px;
 color: black;
 font-weight: bold;
 font-family:Arial, Helvetica, sans-serif;
 font-size: 16px;
 justify-content: center;
 align-items: center;
 align-content: center;
 text-align: center;

}
.nav_side a:hover{
    color: orange;
    text-decoration: underline;
    transition: all 1s ease;
}

.signup{
    padding: 50px; 
     margin-top: 150px;
     margin-bottom: 30px;
     margin-left: 40px;
     margin-right: 40px;
    height: 100vh;
    box-shadow: 1px 1px 8px black;
    border-radius: 10px;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.signup .input{
    padding: 10px;
    /* margin: 50px; */
}

/* .login .login_form .input input{
    width: 80%;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    /* border: none; */
    /* outline: none;
    border: 1px medium black;
    text-align: center;
}
.login .login_form .submit{
    padding: 7px;
    border: 2px solid blanchedalmond;
    border-radius: 5px;
    background-color: blue
} */ 

footer{
    background-color: #99A3A4;
    padding: 50px;
}
footer .footer_logo{
    text-align: center;
    justify-content: center;
    /* border-radius: 25px; */
}
footer .footer_logo img{
    border-radius: 25px;
 }
footer .pages{
    text-align: center;
}
footer .pages h3{
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}
footer .pages a{
    text-decoration: none;
    margin:10px;
    color: blue;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
footer .pages a:hover{
    color: white;
}

footer .doc{
    text-align: center;
}
footer .doc h3{
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}
footer .doc a{
    text-decoration: none;
    margin:10px;
    color: blue;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
footer .doc a:hover{
    color: white;
}

footer .social{
    text-align: center;
}
footer .social h3{
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}
footer .social a{
    text-decoration: none;
    font-size: 30px;
    color: blue;
    margin: 10px;
}
footer .social a:hover{
    color: white;
}

footer .contact{
    text-align: center;
}
footer .contact h3{
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}
footer .contact a{
    text-decoration: none;
    font-size: 30px;
    color: blue;
    margin: 10px;
}
footer .contact a:hover{
    color: white;
}
footer p{
    text-align: center;
}